In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({
    'group': [1, 1, 2, 3, 3, 3, 4],
    'param': ['a', 'a', 'b', np.nan, 'a', 'a', np.nan]
})
df

   group param
0      1     a
1      1     a
2      2     b
3      3   NaN
4      3     a
5      3     a
6      4   NaN

In [25]:
# check null
# single column
df['param'].isnull().values.any()
# entire dataframe
df.isnull().values.any()

True

In [23]:
df[~df['param'].isnull()]  # get not null

   group param
0      1     a
1      1     a
2      2     b
4      3     a
5      3     a

In [29]:
# 赋值
df.loc[df['param'].isnull(),'isNaN'] = 'Yes'
df.loc[df['param'].notnull(), 'isNaN'] = 'No'
df

   group param isNaN
0      1     a    No
1      1     a    No
2      2     b    No
3      3   NaN   Yes
4      3     a    No
5      3     a    No
6      4   NaN   Yes

In [31]:
# 删除 nan
df.dropna()

   group param isNaN
0      1     a    No
1      1     a    No
2      2     b    No
4      3     a    No
5      3     a    No

In [40]:
# fill nan with single column dataframe
# 替换
df['param'].fillna(0)  # 方式1
df['param'].replace(np.nan, 0)  # 方式2

0    a
1    a
2    b
3    0
4    a
5    a
6    0
Name: param, dtype: object

In [48]:
# 常用工具，转换函数对异常值处理
d = pd.DataFrame({'values': ['700','ABC300','500','900XYZ']})
d['values'] = pd.to_numeric(d['values'], errors='coerce')  # 转换成数字
d['values'] = d['values'].fillna(0)
d

   values
0   700.0
1     0.0
2   500.0
3     0.0