## pandas sql相关

- 读取
- 写入
- sql操作
- https://github.com/yhat/pandasql

In [5]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql://root:!qaz2wsx@localhost/demo?charset=utf8')

### pd.read_sql
docs: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html

read_sql 是`read_sql_table`和`read_sql_query`包装器，提供基于表名或查询条件的映射操作

In [16]:
# 量小可以不指定chunksize,量大最好指定下
gr = pd.read_sql('person', con=engine, chunksize=1000)
res = []
for i in gr:
    res.append(i)
df = pd.concat(res, axis=0, ignore_index=True)
df.head()

   id  name  age
0   1  jack   10
1   2  rose   20
2   3  ID:1    1
3   4  ID:2    2
4   5  ID:3    3

### to_sql
docs: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

In [27]:
# 筛选正常人,入库
human = df[(df['age'] >= 18) & (df['age'] <= 120)]
human.to_sql('human', engine, index=False, chunksize=1000, if_exists='replace')
# 注意，生成的表没有 primary key

In [28]:
from pandasql import sqldf

ImportError: No module named pandasql